* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333333;
}

/* Container principal: coloca os dois lados lado a lado */
.container {
  display: flex;
  height: 100vh;
}

/* ---------- Lado esquerdo ---------- */
.lado-esquerdo {
  width: 50%;
  display: flex;
  justify-content: center; 
  align-items: center;     
  background: linear-gradient(#04201d, #133830);
}

.lado-esquerdo img {
  width: 440px;
}

/* ---------- Lado direito ---------- */
.lado-direito {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ffffff, #c9c9c9);
}

.formulario {
  width: 340px;
  display: flex;
  flex-direction: column; /* itens um embaixo do outro */
  text-align: center;
}

.formulario h1 {
  font-size: 20px;
  font-weight: 600;
}

.formulario p {
  font-size: 14px;
  margin-bottom: 30px;
}


.campo {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 15px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 4px;
}

.campo img {
  width: 16px;
  margin-right: 10px;
}

.campo input {    
  border: none;
  outline: none; /* remove a borda quando selecionado */
  font-size: 12px;
}

/* ---------- Botão ---------- */
button {
  height: 30px;
  border: none;
  border-radius: 4px;
  background-color: #16382f;
  color: white;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.esqueceu {
  margin-top: 25px;
  font-size: 12px;
  color: #555555;
  text-decoration: none;
}

.esqueceu:hover{

  color: #133830;
  font-weight: 600;
}